<h1><%= @article.title %></h1>
<P><%= @article.body %></P>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
</br>
<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
</br>
<%= render partial: 'comments/form' %>
</br>
<%= link_to "<< Back to Articles List", articles_path %>
